$main-font: "Poppins", sans-serif;


$color-dark: #000000;
$color-white: #ffffff;
$color-grey: #838383;
$color-green: #16c098;
$color-text-grey: #9197b3;
$color-text-grey-title: #b5b7c0;
$color-text-dark: #292d32;
$color-text-grey-secondary: #757575;
$color-menu-hover: #5932ea;
$color-main-background: #f9faff;
$color-button-border-active: #00b087;
$color-button-text-active: #008767;
$color-button-background-active: rgba(22, 192, 152, 0.38);
$color-button-border-inactive: #df0404;
$color-button-text-inactive: #df0404;
$color-button-background-inactive: #ffc5c5;
$color-border: #eeeeee;
$color-border-active: #5932ea;
$color-pagination-item-background: #f5f5f5;
$color-pagination-link: #404b52;
$color-pagination-item-background-active: #5932ea;
$color-pagination-link-active: #ffffff;